/* Container */
.app-container {
  min-height: 100vh;
  padding: 2rem;
}

.app-content {
  max-width: 768px;
  margin: 0 auto;
}

/* Logo */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container * {
  font-family: "Saira", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 60px;
}

#logoOne,
#logoTwo {
  color: #eeba0b;
}

#logoThree {
  color: #fff;
}

/* Description */
.app-description {
  text-align: center;
  color: #fff;
  max-width: 32rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

/* Input Section */
.input-section {
  background-color: rgba(255, 255, 255, 0.333);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-label {
  color: #fff;
  margin-bottom: 0.75rem;
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  display: block;
}

.input-textarea {
  background-color: rgba(255, 255, 255, 0.758);
  color: black;
  width: 90%;
  height: 8rem;
  padding: 0.75rem 1rem;
  border: 2px solid #d1d5db;
  outline: none;
  resize: none;
  font-family: "Saira", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  transition: border-color 0.2s;
}

.input-textarea:focus {
  border-color: #454545;
}

/* Button */
.generate-button {
  background-color: #eeba0b;
  color: white;
  width: 95%;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border: 1px solid #454545;
  font-family: "Saira", sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  transition: background-color 0.2s;
}

.generate-button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

/* Loading Icon */
.loadingIcon {
  margin-top: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  animation: spin 1.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Response Section */
.response-section {
  background-color: rgba(255, 255, 255, 0.333);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  position: relative;
}

.response-title {
  text-align: center;
  font-family: "Saira", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #eeba0b;
  margin-bottom: 1rem;
}

.response-text, .response-tip{
  color: #fff;
  line-height: 1.6;
  font-family: "Saira", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  white-space: pre-wrap;
}

.response-tip{
  font-size: 1.3rem;
  font-weight: 600;
  color:rgb(123, 0, 0);
}

/* Download Icon */
.downloadIcon {
  height: 2.2rem;
  width: 2.2rem;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
}

/* Responsive Icon */
@media screen and (max-width: 600px) {
  .input-textarea,
  .generate-button {
    width: 100%;
  }
}
